<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Todo - {{ .todo.Text }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-three-fifths is-offset-one-fifth">
                <h1 class="title" href="/"><a href="/">Go ToDo</a></h1>
                <form method="post" action="/update/{{.todo.ID}}">
                    <div class="field">
                        <label for="text" class="label">Todo<input type="text" name="text" class="input"
                                value="{{.todo.Text}}"></label>
                    </div>
                    <div class="field">
                        <label for="status" class="label">Status</label>
                        <div class="control">
                            <div class="select">
                                <select name="status">
                                    {{if eq .todo.Status "ToDo"}}
                                    <option value="ToDo" selected>ToDO</option>
                                    <option value="InProgress">InProgress</option>
                                    <option value="Done">Done</option>
                                    {{else if eq .todo.Status "InProgress"}}
                                    <option value="ToDo">ToDO</option>
                                    <option value="InProgress" selected>InProgress</option>
                                    <option value="Done">Done</option>
                                    {{else}}
                                    <option value="ToDo">ToDO</option>
                                    <option value="InProgress">InProgress</option>
                                    <option value="Done" selected>Done</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                        </label>
                    </div>
                    <div class="field">
                        <label for="tag" class="label">タグ<input type="text" name="tag" value="{{.todo.Tag.Name}}"
                                class="input">
                            </p>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>